.tableWrap {
  display: flex;
  flex-direction: column;
  border-radius: 10px;



  .buttonIcon {
    align-self: flex-end;
  }

  table {
    border: 5px solid #959595;
    border-collapse: collapse;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.20);
  }

  thead {
    border: 5px solid #959595;

    th {
      border: 5px solid #959595;
    }
  }

  tbody {
    td {
      border: 5px solid #959595;
      text-align: center;
    }
  }
}

.addList {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin-bottom: 120px;
  }

  .addWarp {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .imgInput {
      display: flex;
      align-items: center;
      text-align: center;

      b {
        width: 15%;
      }

      input {
        position: relative;
      }

      input[type=file]::file-selector-button {
        display: none;

      }

    }

    .check {
      display: flex;
      text-align: center;

      b {
        width: 15%;
      }

      .checkbox {
        display: flex;
        width: 100%;
      }
    }

    .input {
      display: flex;
      align-items: center;
      text-align: center;

      b {
        width: 15%;
      }

      .checkbox {
        display: flex;
        width: 100%;
      }
    }
  }

  >button {
    width: 60%;
    margin: 0 auto;
    margin-top: 52px;

  }
}