.inputContainer {
  position: relative;

  .iconContainer {
    position: absolute;
    font-size: 24px;
    top: 10px;
    left: 20px;
    color: #A5A5A5;
    margin-left: 30px;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -45%);
  }

  input {
    width: 100%;
    height: 48px;
    padding: 14px 60px;
    border: 1px solid #A5A5A5;
    border-radius: 10px;

    ::placeholder {
      color: #A5A5A5;
      font-size: 16px;
    }
  }
}