.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .backDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .modalContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 1400px;
    width: 100%;
    height: 900px;
    z-index: 1;
    display: flex;
    align-items: center;



    .modalBox {
      width: 700px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: center;


      b {
        width: 20%;
        text-align: center;
      }

      .imgInput {
        display: flex;
        align-items: center;
      }

      .check {
        display: flex;
        align-items: center;

        .radio {
          width: 100%;
          display: flex;
        }
      }

      .textInput {
        display: flex;
        align-items: center;
      }

      >button {
        background-color: inherit;
        border-radius: 10px;
      }

      .closeBtn {
        cursor: pointer;
        font-size: 32px;
        align-self: flex-end;
      }

      .confirmBtn {
        background-color: #4477CE;
        width: 85%;
        height: 52px;
        color: #fff;
        align-self: flex-end;
        margin-top: 20px;
      }

    }

  }
}