.search {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .searchIcon {
    font-size: 20px;
  }

  input {
    width: 260px;
    border: none;
    border-bottom: 1px solid #000;
  }
}
