.button {
    width: 100%;
    height: 52px;
    background-color: #4477ce;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.button:hover {
    box-shadow: inset -5px 5px 5px rgba(11, 33, 72, 50%);
}

.mainButton {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    background-color: inherit;
    color: #000;
    transition: 0.5s;
}

.mainButton:hover {
    background-color: #000;
    color: #fff;
}

.mainLargeButton {
    width: 100%;
    height: 64px;
    border: 1px solid #fff;
    background-color: inherit;
    color: #fff;
    transition: 0.5s;
}

.mainLargeButton:hover {
    background-color: #4477ce; //테스트 바로가기 버튼 hover 색 변경
    border: 1px solid #4477ce;
}

.borderbutton {
    width: 100%;
    height: 48px;
    border: 1px solid #a5a5a5;
    background-color: inherit;
    transition: 0.5s;
    border-radius: 10px;

    p {
        color: #a5a5a5;
    }
}

.borderbutton:hover {
    background-color: #4477ce;
    border: 1px solid #4477ce;

    p {
        color: #fff;
    }
}

.testlinkButton {
    width: 100%;
    height: 64px;
    border: 1px solid #fff;
    background-color: inherit;
    color: #fff;
    transition: 0.5s;
}

.testlinkButton:hover {
    background-color: #986c3f; //테스트 바로가기 버튼 hover 색 변경
    border: 1px solid #986c3f;
}

.mypageButton {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: inherit;
    color: #000;
    transition: 0.5s;
    margin-right: 5px;
}

.mypageButton:hover {
    background-color: #000;
    color: #fff;
}
