.addPostContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  .addPostHead {
    align-self: flex-start;
  }

  .placeInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 40px;

    img {
      width: 220px;
      height: 140px;
    }
  }
  
  .checkboxWrap {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    gap: 10px;
    margin-top: 30px;

    .checkbox {
      display: flex;
      position: relative;
      bottom: 9px;
    }
  }

  .inputWrap {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    width: 600px;

    b {
      position: relative;
      top: 20px;
    }
    .inputBox {
      width: 80%;
    }
  }
}
