.addPostContainer {
  margin: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .checkboxWrap {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 600px;

    .checkbox {
      width: 80%;
      display: flex;
      justify-content: flex-start;
    }
  }

  .inputWrap {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    width: 600px;

    b {
      position: relative;
      top: 20px;
    }
    .inputBox {
      width: 80%;
    }
  }
}
