.postDetailsContainer {
  margin: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  .postContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 50%;
    padding: 20px 40px;
    margin: 10px 0;

    .lefttop {
      display: flex;
      justify-content: flex-start;
      gap: 10px;

      .writer {
        margin-top: 2px;
      }

      .date {
        color: #a4a4a4;
      }
    }

    .postTitle {
      margin-top: 30px;
    }

    .postContent {
      margin: 60px 0 100px 0;
      width: 90%;
    }

    .leftbottom {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      color: #a4a4a4;
    }

    .right {
      .buttons,
      .writerButtons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
      }
      img {
        margin: 30px 0;
        width: 615px;
        height: 370px;
      }
    }
  }

  .commentContainer {
    margin-top: 50px;
  }

  .editMode {
    margin: 40px 0;

    .postTitle input {
      width: 600px;
      height: 48px;
      border: 1px solid #a5a5a5;
      border-radius: 10px;
      padding: 20px;
      font-size: 24px;
    }

    .postContent textarea {
      width: 600px;
      height: 400px;
      border: 1px solid #a5a5a5;
      border-radius: 10px;
      padding: 20px;
      font-size: 20px;
      position: relative;
      bottom: 20px;
    }

    .submitButton {
      position: relative;
      bottom: 90px;
      display: flex;
      gap: 20px;
    }
  }
}
