.WallPaper {
    height: 100vh;
    background: url(src/assets/TbtiMainPic.png) no-repeat center;
    background-size: cover;
    width: 100%;
    flex-shrink: 0;
}
.Text {
    .score {
        padding-top: 60px;
    }
    h2 {
        color: white;
        padding-bottom: 20px;
    }
    h4 {
        color: white;
        font-size: 20px;
        padding-bottom: 45px;
    }
}
.questionList {
    margin-bottom: 200px;
    .progress {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
