.mainBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  row-gap: 100px;
  column-gap: 20px;
  place-items: center;

  .mainImage {
    min-width: 320px;
    border: 1px solid #c8c8c8;
    transform: scale(1);
    transition: transform 0.3s ease;
    border-radius: 0 0 20px 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    &:hover {
      transform: scale(1.05); /* 이미지 크기를 1.2배로 확대 */
      transition: transform 0.3s ease; /* 호버 시 부드럽게 전환되도록 설정 */
      border: 1px solid #608bd5;
      box-sizing: border-box;

      .title {
        color: #608bd5;
      }
    }

    .Image {
      display: block;
      height: 320px;

      img {
        width: 100%;
        height: 320px;
      }
    }

    .mainWrap {
      padding: 10px;
      background-color: #fff;
      border-radius: 0 0 20px 20px;

      .mainTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        .title {
          font-weight: normal;
        }

        .popularity {
          cursor: pointer;
          font-weight: bold;
          color: #ff0000;
          display: flex;
          align-items: center;

          svg {
            width: 2em;
            height: 2em;
          }
        }
      }
      .price {
        display: flex;
        justify-content: end;
      }
    }
  }
}
