.selectButton {
    width: 415px;
    height: 125px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .text {
        color: #000;
        font-family: Apple SD Gothic Neo;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
