.expanded {
  span {
    color: #4477ce;
  }

  svg {
    color: #4477ce;
  }

  @keyframes dropdownFadeIn {
    from {
      opacity: 0;
      transform: translateY(-40px);
      visibility: hidden;
    }

    to {
      opacity: 1;
      transform: translateY(10px);
      visibility: visible;
    }
  }

  .optionContent > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    z-index: 9;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: dropdownFadeIn 0.5s ease forwards;
    min-width: 100px;

    a:hover {
      color: #4477ce;
    }
  }
}
