.popularPlaces {
    width: 60%; // 수정함
    height: 60%; // 수정함
    position: relative;
    background-color: inherit;
    margin-right: 120px;

    img {
        width: 90%; //인기숙소 크기
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .titleWrap {
        position: absolute;
        bottom: -30px;
        background-color: #fff;
        width: 11rem; // 수정함
        height: 11rem; // 수정함
        background-color: rgba(255, 255, 255, 0.8); //하얀배경 반투명

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
}
