.All {
    text-align: center;
}

.resultBox {
    margin: 200px;
    .resultBoxH2 {
        margin-bottom: 80px;
    }
    .resultBoxP {
        margin-bottom: 25px;
        font-size: 20px;
    }
    .resultBoxP2 {
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 60px;
    }
    .resultButton {
        margin-left: 350px;
        margin-right: 350px;
    }
}
