.likeButton {
  border: none;
  background: none;
  outline: none;

  .redHeartIcon {
    width: 40px;
    height: 40px;
    color: #ff0000;
    scale: (0.7);
  }
  .heartIcon {
    width: 40px;
    height: 40px;
    color: #a4a4a4;
    scale: (0.7);
  }
}
