label {
  color: #000;
  font-family: Apple SD Gothic Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 160% */
}

.editInput {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #a5a5a5;
}