html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #424242;
}

* {
  box-sizing: border-box;
  font-family: Apple SD Gothic Neo;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input {
  text-align: left;
}
