.editModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .backDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .modalContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 1400px;
    width: 100%;
    height: 900px;
    z-index: 1;
    display: flex;
    flex-direction: column;

    >button {
      background-color: inherit;
      align-self: flex-end;

      .closeBtn {
        cursor: pointer;
        font-size: 32px;

      }
    }
  }

}